div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    position: absolute;
    top:100px;
    left: 100px;
    /* transition: all; */
    /* transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 2s; */ 
    /* transition:all 2s ease-in ; */
    /* transform: rotate(180deg); */
    /* transform: scaleY(2); */
    /* animation-name: colorAnimate;
    animation-duration: 2s; */
    /* animation-timing-function: ease-in; */
    /* animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:alternate-sreverse; */
    animation: colorAnimate 4s ease-in 1s infinite normal;
}

@keyframes colorAnimate{
    0%{
        left: 0px;
        background-color: yellow;
    }
    50%{
        background-color: blue;
    }
    100%{
        left: 200px;
        background-color: red;
        color: white;
    }
}


div:hover{
    /* background-color: red;
    color: white;
    font-size: 20px; */
    /* transform: rotate(180deg); */
    /* transform: skew(30DEG); */
}

/* div:active{
    background-color: pink;
} */