/* *{
    color:blue;
}

button{
    color: brown;
}

#headingone{
  color: yellow;
}

#headingtwo{
    color: chocolate;
  }

.myclass{
    color: magenta;
} */

/* p{
  text-align:center;
} */

/* h1{
  text-decoration: blue dotted line-through;
  text-align: center;
} */

/* a{
  text-decoration: none;
} */

/* #h1{
  font-weight: 100;
}

#h2{
  font-weight: 150;
}

#h3{
  font-weight: 600;
}

#h4{
  font-weight: 900;
} */
/* 
#one{
  font-family: Arial, Helvetica, sans-serif;
}

#two{
  font-family: 'Segoe UI';
} */

#one{
  font-size: 25px;
  line-height:normal;
  text-transform:none;
}

#three{
  font-size: 10px;
}