/* #box1{
    height:100px;
    width: 200px;
    background-color: green;
    font-size:10px ;
}

#box2{
    
    width: 30%;
    background-color: yellow;
    margin-left: 10%;
    font-size: 2em;
    width: 5rem;
    height: 100vh;
} */

 div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#box1{
    background-image: url("nightpicture.jpg");
    background-size: cover;
}

/* #box1{
    position: static;
}

#box2{
    position: relative;
    top: 20px;
    left: 10px;
}

#box3{
    position:absolute;
    top: 500px;
    left: 20px;
}

#box4{
    position: fixed;
    top: 50px;
} */ 