*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
}

.nav-logo{
      height: 50px;
      width: 100px;
}

.logo {
    background-image: url(" File_Amazon_logo.svg ");
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border{
     border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}